.ui-box
  .title.clearfix
    = search_field_tag :filter_projects, nil, placeholder: 'Filter by name', class: 'dash-filter'
    - if current_user.can_create_project?
      %span.pull-right
        = link_to new_project_path, class: "btn btn-new" do
          %i.icon-plus
          创建项目

  %ul.well-list.dash-list
    - projects.each do |project|
      %li.project-row
        = link_to project_path(project), class: dom_class(project) do
          %span.namespace-name
            - if project.namespace
              = project.namespace.human_name
              \/
          %span.project-name.filter-title
            = truncate(project.name, length: 25)
          %span.arrow
            %i.icon-angle-right
          %span.last-activity
            %span 最后活动:
            %span.date= project_last_activity(project)
    - if projects.blank?
      %li
        %h3.nothing_here_message 这里没有项目.
    - if @projects_count > 20
      %li.bottom
        %strong= link_to "显示所有项目", projects_dashboard_path
