%ul.nav.nav-tabs
  = nav_link(controller: :issues) do
    = link_to '浏览 Issues', project_issues_path(@project), class: "tab"
  = nav_link(controller: :milestones) do
    = link_to '里程碑', project_milestones_path(@project), class: "tab"
  = nav_link(controller: :labels) do
    = link_to '标签', project_labels_path(@project), class: "tab"
  %li.pull-right
    = link_to project_issues_path(@project, :atom, { private_token: current_user.private_token }) do
      %i.icon-rss
