!!! 5
%html{ lang: "en"}
  = render "layouts/head", title: "搜索"
  %body{class: "#{app_theme} application", :'data-page' => body_data_page}
    = render "layouts/head_panel", title: "搜索"
    = render "layouts/flash"

    .container.navless-container
      .content
        = yield
